<!DOCTYPE html>
<html>
  <head>
    <title>Dobbelstenen</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="..\..\dobbelsteen\static\styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Klik om een dobbelsteen te gooien</h1>
    <a href="/dice?dice=4">Rol een d4</a>
    <a href="/dice?dice=6">Rol een d6</a>
    <a href="/dice?dice=8">Rol een d8</a>
    <a href="/dice?dice=10">Rol een d10</a>
    <a href="/dice?dice=12">Rol een d12</a>
    <a href="/dice?dice=20">Rol een d20</a>
  </body>
</html>